@model IEnumerable<UowDesignPattern.EntityLayer.Concrete.AccountTransaction>

@{
    ViewData["Title"] = "Transaction";
}

<h1>Transaction</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Kullanıcı ID
            </th>
            <th>
                Alıcı Iban
            </th>
            <th>
                Alıcı Adı
            </th>
            <th>
                Gönderen Adı
            </th>
            <th>
                Gönderen Iban
            </th>
            <th>
                Miktar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer2ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverIban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendIban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
